<div ng-include src=" './resources/Navigation.html' "></div>

<!-- Page Content -->
<div class="container" ng-controller="homeController">

    <!-- Custom CSS -->
    <link href="./resources/css/heroic-features.css" rel="stylesheet">




    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Welcome to Imaginary Ebay!</h1>
        <p>We are the largest customer-to-customer shopping platform for imagination land.
            We provide a platform for fairy-tale businesses and creatures to open online stores that mainly cater to consumers in fictional regions.
        </p>

        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div  class="row text-center">

        <div ng-repeat="merchandise in goods" class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <a ng-href="#/app/item/{{merchandise.id}}"><img ng-src="{{merchandise.itemPictures[0].url}}" alt=""></a>
                <div class="caption">
                    <h3>{{merchandise.name}}</h3>
                    <p>{{merchandise.description}}</p>
                    <p>
                        <a ng-href="#/app/item/{{merchandise.id}}" class="btn btn-primary">Learn more!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Pagination -->
    <div class="row text-center" ng-controller="paginationController">
        <div class="col-lg-12">
            <ul  class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>

                <li ng-repeat="num in numberForPagination" ng-class="{'active': num == currentPage}" >
                    <a href="#">{{num}}</a>
                </li>

                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->