<div ng-include src=" './resources/Navigation.html' "></div>

<!-- Page Content -->
<div class="container" ng-controller="homeController">

    <!-- Custom CSS -->
    <link href="./resources/css/heroic-features.css" rel="stylesheet">




    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Welcome to Imaginary Ebay!</h1>
        <p>We are the largest customer-to-customer shopping platform for imagination land.
            We provide a platform for fairy-tale businesses and creatures to open online stores that mainly cater to consumers in fictional regions.
        </p>

        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div  class="row text-center">

        <div ng-repeat="merchandise in goods" class="col-md-3 col-sm-6 hero-feature">
            <div  class="thumbnail" >
                <!-- <img src="http://placehold.it/800x500" alt="" height="500" width="800">-->
                <!-- <img style='height: 100%; width: 100%; object-fit:contain' src={{merchandise.itemPictures[0].url}} alt="" height="500" width="800">-->
                <img class="img-responsive" style="min-height: 100%" src={{merchandise.itemPictures[0].url}} >
                <div class="caption">
                    <h3>{{merchandise.description}}</h3>
                    <p>
                        <a href="#/app/product?productID={{merchandise.id}}" class="btn btn-primary">Learn more!</a>
                    </p>
                </div>
            </div>
        </div>



    </div>
    <!-- /.row -->



    <!-- Pagination -->
    <div class="row text-center" ng-controller="paginationController">
        <div class="col-lg-12">
            <ul  class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>

                <li ng-repeat="num in numberForPagination" ng-class="{'active': num == currentPage}" >
                    <a ng-click="goToPage(num)" target="_self">{{num}}</a>
                </li>

                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->