<style>
    body {
        background-color: darkslategrey;
        color:white;
    }
</style>
<div ng-include src=" './resources/Navigation.html' "></div>
<br>
<div id="wrapper" ng-controller="itemupdateController">
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Create Item
                </h1>
            </div>
        </div>
        <form role="form">
            <div class="form-group">
                <label for="itemname">Name</label>
                <input type="text" class="form-control" id="itemname" ng-model="name">
            </div>
            <div class="form-group">
                <label for="itemcategory">Category</label>
                <select class="form-control" id="itemcategory" ng-model="category">
                    <option value="" selected disabled>Categories</option>
                    <option value="Clothes">Clothes</option>
                    <option value="Electronics">Electronics</option>
                    <option value="">No Category</option>
                </select>
            </div>
            <div class="form-group">
                <label for="itemprice">Starting Price (USD)</label>
                <input type="number" class="form-control" id="itemprice" ng-model="price">
            </div>
            <div class="form-group">
                <label>Auction Endtime </label>
                <br>
                <form>
                    <input type="radio" name="auctiontype" value="short" ng-model="auctiontype"> Short (ends within 24 hours) <br>
                    <input type="radio" name="auctiontype" value="long" ng-model="auctiontype"> Long (ends at midnight on selected day) <br>
                </form>
                <input ng-show="auctiontype =='long'" type="date" id="auctionendtimelong" style="color:black;" min="{{auctet}}" ng-model="endtime"/>
                <select class="form-control" id="auctionendtimeshort" ng-show="auctiontype =='short'" ng-model="shortendtime">
                    <option value="" selected disabled>Length of Auction (in hours) </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                </select>
            </div>
            <div class="form-group">
                <label for="itemdescription">Description</label>
                <textarea class="form-control" rows="5" id="itemdescription" ng-change="lenCheck()" ng-model="description"></textarea>
                <label ng-style="remnants()">characters remaining : {{remChar}}</label>
            </div>
            <div class="form-group">
                <label>Pictures - Add as many as you wish!</label>
                <br>
                <input type="file" id="file"/>
                <br>
                <!--<button style="color:black;" class="btn btn-default btn-sm" onclick="angular.element(file).scope().addPic(file.files)">Add Picture</button>-->
                <button style="color:black;" class="btn btn-default btn-sm" ng-click="addPic()">Add Picture</button>
                <br>
            </div>
            <hr>
            <button type="submit" class="btn btn-default" ng-click="create()"> Create </button>
        </form>
        <hr>

    </div>
</div>