<div ng-include src=" './resources/Navigation.html' "></div>

<div class="container" ng-controller="itemController">
    <link href="./resources/css/shop-item.css" rel="stylesheet">

    <div class="row">
        <!--Seller info and bidding box-->
        <div class="col-md-3">
            <p class="lead">Seller: <a ng-href="/app/shop/{{item.userr.id}}">{{item.userr.name}}</a></p>
            <a ng-show="userCanEdit" href="#/app/item/{{item.id}}/update" class="btn btn-primary">Update</a>
            <div class="well">
                <div>
                    <h4>Current Bid: {{ item.highestBid | currency }}</h4>
                    <p ng-show="!auctionEndSoon">
                        <span>Ends in: </span>
                        <span countdown end-date="{{item.endtime | date:'short'}}" units="days|hours|minutes"> </span>
                    </p>
                    <p ng-show="auctionEndSoon" style="color: red">
                        <span>Ends in: </span>
                        <span countdown end-date="{{item.endtime | date:'short'}}" units="days|hours|minutes"></span>
                    </p>
                </div>
                <form class="form-horizontal" ng-show="loggedInFlag && !userCanEdit && !auctionOver">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="newbidprice" ng-currency min="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button class="btn btn-primary" ng-click="makeBid()">Bid Now!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--End seller info and bidding box-->
        <!--Item info and image slideshow-->
        <div class="col-md-9">
            <div ng-show="validBid" class="alert alert-success">
                <strong>Bid successful!</strong>
            </div>

            <div ng-show="invalidBid" class="alert alert-danger">
                <strong>Sorry, your bid was unsuccessful.</strong>
            </div>
            <div class="thumbnail" style="overflow:hidden;">
                <div uib-carousel active="active" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in slides track by $index" index="$index">
                        <img ng-src="{{slide.url}}_thumb" style="margin:auto;">
                    </div>
                </div><!-- Image carousel-->
                <div class="caption-full">
                    <div style="margin-right: 1%">
                        <h3>{{item.name}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
            <dir-disqus config="disqusConfig"></dir-disqus>
        </div>
        <!-- End item info and image slideshow-->
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>
</div>
