<body>
    <link href="/resources/css/shop-profile.css" rel="stylesheet">




    <!-- Navigation -->
    <div ng-include src=" './resources/Navigation.html' "></div>


    <!-- Page Content -->
    <div class="container" ng-controller="profileController as pc">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{userName}}
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Email:{{userEmail}}</p>
                <p>Address:{{userAddress}}</p>
            </div>
        </div>

        <!-- Team Members Row -->

        <div class="col-lg-12">
            <h5 class="page-header">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a ng-click="activeBidding()"  data-toggle="tab">Active Biddings</a>
                    </li>
                    <li><a ng-click="successfulBidding()"  data-toggle="tab">Successful Biddings</a>
                    </li>
                </ul>
            </h5>
        </div>



        <div class="container" ng-controller="displayController", ng-init="init(pc.numOfItemsOnEachPage, pc.totalUrl, pc.itemUrl, pc.picUrl, pc.dumbParameter)">

            <!-- Project One -->
            <div class="row">
                <div ng-repeat="merchandise in goods">
                    <div class="col-md-7">
                    <a ng-href="/app/item/{{merchandise.id}}">
                        <img class="img-responsive" ng-src="{{merchandise.itemPictures[0].url}}_thumb" alt="">
                    </a>
                </div>
                    <div class="col-md-5">
                    <h3>{{merchandise.name}}</h3>
                    <p>{{merchandise.description}}</p>
                    <a class="btn btn-primary" ng-href="/app/item/{{merchandise.id}}">View Item <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                </div>
                <hr>
            </div>
            <!-- /.row -->

            <!-- Pagination -->
            <div class="row text-center" >
                <div class="col-lg-12">
                    <ul  class="pagination">
                        <li>
                            <a ng-hide="hide" ng-click="numbersToShowLeft()" style="cursor:pointer;">&laquo;</a>
                        </li>

                        <li ng-repeat="num in numberForPagination" ng-class="{'active': num == currentPage}" >
                            <a ng-click="goToPage(num)" target="_self" style="cursor:pointer;">{{num}}</a>
                        </li>

                        <li>
                            <a ng-hide="hide" ng-click="numbersToShowRight()" style="cursor:pointer;">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->


        </div>


        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->


</body>
