<div ng-include src=" './resources/Navigation.html' "></div>


<div  ng-controller="shopController as sc">

    <!-- Custom CSS -->
    <link href="/resources/css/shop-homepage.css" rel="stylesheet">


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">{{info.ShopName}}</p>
                <div class="list-group">
                    <a ng-repeat="category in categories" href="#/app/shop?category={{category.CategoryName}}&shopOwner={{shopOwner}}"
                       class="list-group-item" ng-class={'active':category.CategoryName==currentCategory}>{{category.CategoryName}}</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x400" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x400" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x400" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row" ng-controller="displayController", ng-init="init(sc.numOfItemsOnEachPage, sc.totalUrl, sc.itemUrl, sc.picUrl)">

                    <!--<div ng-repeat="product in products" class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{product.price | currency}}</h4>
                                <h4><a href='#/app/product?productID={{product.id}}'>{{product.name}}</a>
                                </h4>
                                <p>{{product.description}}</p>
                            </div>


                        </div>
                    </div>-->

                        <!-- Page Features -->
                        <div  class="row text-center">

                            <div ng-repeat="merchandise in goods" class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img ng-src="{{merchandise.itemPictures[0].url}}" alt="">
                                    <div class="caption">
                                        <h4 class="pull-right">{{merchandise.price | currency}}</h4>
                                        <h4>{{merchandise.name}}</h4>
                                        <p>{{merchandise.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <!-- Pagination -->
                        <div class="row text-center" >
                            <div class="col-md-9">
                                <ul  class="pagination">
                                    <li>
                                        <a ng-hide="hide" ng-click="numbersToShowLeft()">&laquo;</a>
                                    </li>

                                    <li ng-repeat="num in numberForPagination" ng-class="{'active': num == currentPage}" >
                                        <a ng-click="goToPage(num)" target="_self">{{num}}</a>
                                    </li>

                                    <li>
                                        <a ng-hide="hide" ng-click="numbersToShowRight()">&raquo;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.row -->





                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</div>